In [116]:
import sqlite3

In [117]:
def connect(db_filename):
    # Adds .db to filename if necessary
    if db_filename[-3:] != '.db':
        db_filename += '.db'
        
    conn = sqlite3.connect(db_filename)
    c = conn.cursor()
    
    return conn, c

In [118]:
def create(table, categories):
    command = "CREATE TABLE IF NOT EXISTS "
    command += table
    command += " (\n"
    
    for attribute, datatype in categories.items():
        command += attribute
        command += " "
        
        command += datatype
        command += ",\n"
    
    command = command[:-2]
    command += ");"
    
    print(command)
    c.execute(command)

In [119]:
def insert(value, table):
    command = "INSERT INTO " + table + " VALUES ("
    
    col_count = c.execute(
        "SELECT count() FROM PRAGMA_TABLE_INFO('" + table + "');"
    )
    
    col_count = col_count.fetchall()
    col_count = col_count[0][0]
    
    for i in range(col_count - 1):
        command += "?, "
    
    command += "?);"
    #print(command)
    
    c.execute(command, value)
    conn.commit()

In [120]:
def drop(table):
    command = "DROP TABLE IF EXISTS " + table
    c.execute(command)

In [121]:
def drop_all():
    c.execute("SELECT name FROM sqlite_master WHERE type='table';")

    for table in c.fetchall():
        drop(table[0])

In [122]:
def print_database():
    c.execute("SELECT name FROM sqlite_master WHERE type='table';")
    print ("Tables:")
    
    for t in c.fetchall() :
        print ("\t[%s]"%t[0])
        print ("\tColumns of", t[0])
        c.execute("PRAGMA table_info(%s);"%t[0])
        
        for attr in c.fetchall() :
            print ("\t\t", attr)
            
        print()

In [123]:
def print_table(table):
    data = c.execute("SELECT * FROM " + table)

    for row in data:
        print(row)

In [124]:
db_filename = "test_tables"
conn, c = connect(db_filename)

In [125]:
table = "body_part"

categories = {
    "part_id": "INT",
    "part_name": "VARCHAR(30)",
    "calories": "INT"
}

create(table, categories)

CREATE TABLE IF NOT EXISTS body_part (
part_id INT,
part_name VARCHAR(30),
calories INT);

In [126]:
table = "equipment"

categories = {
    "equipment_id": "INT",
    "equipment_name": "VARCHAR(30)"
}

create(table, categories)

CREATE TABLE IF NOT EXISTS equipment (
equipment_id INT,
equipment_name VARCHAR(30));

In [127]:
table = "exercise"

categories = {
    "exercise_id": "INT",
    "exercise_name": "VARCHAR(30)",
    "exercise_description": "VARCHAR(1000)",
    "exercise_body_part": "VARCHAR(30)",
    "exercise_equipment": "VARCHAR(30)"
}

create(table, categories)

CREATE TABLE IF NOT EXISTS exercise (
exercise_id INT,
exercise_name VARCHAR(30),
exercise_description VARCHAR(1000),
exercise_body_part VARCHAR(30),
exercise_equipment VARCHAR(30));

In [128]:
table = "account"

categories = {
    "account_id": "INT",
    "username": "VARCHAR(15)",
    "email": "VARCHAR(320)"
}

create(table, categories)

CREATE TABLE IF NOT EXISTS account (
account_id INT,
username VARCHAR(15),
email VARCHAR(320));

In [129]:
table = "favorite"

categories = {
    "favorite_id": "INT",
    "favorite_user": "VARCHAR(15)",
    "favorite_exercise": "VARCHAR(30)"
}

create(table, categories)

CREATE TABLE IF NOT EXISTS favorite (
favorite_id INT,
favorite_user VARCHAR(15),
favorite_exercise VARCHAR(30));

In [130]:
print_database()

Tables:
	[body_part]
	Columns of body_part
		 (0, 'part_id', 'INT', 0, None, 0)
		 (1, 'part_name', 'VARCHAR(30)', 0, None, 0)
		 (2, 'calories', 'INT', 0, None, 0)

	[equipment]
	Columns of equipment
		 (0, 'equipment_id', 'INT', 0, None, 0)
		 (1, 'equipment_name', 'VARCHAR(30)', 0, None, 0)

	[exercise]
	Columns of exercise
		 (0, 'exercise_id', 'INT', 0, None, 0)
		 (1, 'exercise_name', 'VARCHAR(30)', 0, None, 0)
		 (2, 'exercise_description', 'VARCHAR(1000)', 0, None, 0)
		 (3, 'exercise_body_part', 'VARCHAR(30)', 0, None, 0)
		 (4, 'exercise_equipment', 'VARCHAR(30)', 0, None, 0)

	[account]
	Columns of account
		 (0, 'account_id', 'INT', 0, None, 0)
		 (1, 'username', 'VARCHAR(15)', 0, None, 0)
		 (2, 'email', 'VARCHAR(320)', 0, None, 0)

	[favorite]
	Columns of favorite
		 (0, 'favorite_id', 'INT', 0, None, 0)
		 (1, 'favorite_user', 'VARCHAR(15)', 0, None, 0)
		 (2, 'favorite_exercise', 'VARCHAR(30)', 0, None, 0)

In [131]:
insertions = {
    "body_part": [
        (0, "Arms", "Bicep Curl"),
        (1, "Back", "Rows"),
        (2, "Legs", "Squats"),
        (3, "Abs", "Sit-Ups"),
        (4, "Cardio", "Running")
    ],
    
    "equipment": [
        (0, "Dumbells"),
        (1, "Dumbells"),
        (2, "Single Dumbell"),
        (3, "Body Weight"),
        (4, "Body Weight")
    ],
    
    "exercise": [
        (0, "Bicep Curl", "Curls dumbbells from a standing position", 
         "Arms", "Dumbells"),
        
        (1, "Rows", "Pulls dumbbells towards the chest while bending over", 
         "Back", "Dumbells"),
        
        (2, "Squats", "Lowers body by bending at the hips and knees", 
         "Legs", "Body Weight"),
        
        (3, "Sit-Ups", 
         "Lifts upper body towards knees while lying on the ground", 
         "Abs", "Body Weight"),
        
        (4, "Running", "Fast-paced movement using legs and feet", 
         "Cardio", "None")
    ],
    
    "account": [
        (0, "user1", "user1@example.com"),
        (1, "user2", "user2@example.com"),
        (2, "user3", "user3@example.com")
    ],
    
    "favorite": [
        (0, "user1", "Bicep Curl"),
        (1, "user2", "Rows"),
        (2, "user3", "Squats")
    ]
}

#insertions

In [132]:
for table, value_list in insertions.items():
    for value in value_list:
        insert(value, table)
        
    print(table)
    print_table(table)
    print()

body_part
(0, 'Arms', 'Bicep Curl')
(1, 'Back', 'Rows')
(2, 'Legs', 'Squats')
(3, 'Abs', 'Sit-Ups')
(4, 'Cardio', 'Running')

equipment
(0, 'Dumbells')
(1, 'Dumbells')
(2, 'Single Dumbell')
(3, 'Body Weight')
(4, 'Body Weight')

exercise
(0, 'Bicep Curl', 'Curls dumbbells from a standing position', 'Arms', 'Dumbells')
(1, 'Rows', 'Pulls dumbbells towards the chest while bending over', 'Back', 'Dumbells')
(2, 'Squats', 'Lowers body by bending at the hips and knees', 'Legs', 'Body Weight')
(3, 'Sit-Ups', 'Lifts upper body towards knees while lying on the ground', 'Abs', 'Body Weight')
(4, 'Running', 'Fast-paced movement using legs and feet', 'Cardio', 'None')

account
(0, 'user1', 'user1@example.com')
(1, 'user2', 'user2@example.com')
(2, 'user3', 'user3@example.com')

favorite
(0, 'user1', 'Bicep Curl')
(1, 'user2', 'Rows')
(2, 'user3', 'Squats')

In [133]:
drop_all()